

body {
    color: white;
    background-color: #1C1C1C;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}


p {
    font-family: 'Inter', sans-serif;
}


hr {
    opacity: 10%;
}


span {
    color: #4ADF86;
}


button {
    margin: 5% 0;
    padding: 2% 4%;
    border-radius: 5px;
    border: none;
    background-color: #10B981;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.gen-box {
    background-color: #1F2937;
    padding: 4%;
    margin: 10% 30%;
    min-width: 400px;
}

.password-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.password {
    background-color: #273549;
    padding: 2% 4%;
    border-radius: 5px;
    color: #55F991;
}

#generate:active {
    background-color: #grey;
    color: #55F991;
}
